<h1>SKOS</h1>
<ul>
    <li>
        <h2><a asp-action="Index" asp-controller="ConceptScheme">Concept scheme</a></h2>
        <p>A SKOS concept scheme can be viewed as an aggregation of one or more SKOS concepts.</p>
    </li>
    <li>
        <h2><a asp-action="Index" asp-controller="Concept">Concept</a></h2>
        <p>A SKOS concept can be viewed as an idea or notion; a unit of thought.</p>
    </li>
    <li>
        <h2><a asp-action="Index" asp-controller="Collection">Collection</a></h2>
        <p>A SKOS collection is a labeled and/or ordered group of SKOS concepts.</p>
    </li>
</ul>
